{% extends "layout.html" %}

{% block title %}
    Dashboard - Spotify Stats
{% endblock %}

{% block main %}

<script>
document.getElementById('more-btn').addEventListener('click', function() {
    // Fetch more records via AJAX (ensure that your server-side logic is set to handle this)
    fetch('/get-more-history')  // Implement this route on the backend
        .then(response => response.json())
        .then(data => {
            // Update the lists dynamically
            for (const period in data) {
                let listId = period.toLowerCase().replace(' ', '-') + '-list';
                const listElement = document.getElementById(listId);
                data[period].forEach(track => {
                    const listItem = document.createElement('li');
                    listItem.textContent = `${track.track_name} by ${track.artist_name} - Played at ${track.played_at}`;
                    listElement.appendChild(listItem);
                });
            }
        });
});
</script>

<script>
    document.getElementById('timeRangeSelect').addEventListener('change', function() {
        const selectedRange = this.value;
    
        // Send an AJAX request to update the data
        fetch(`/dashboard?time_range=${selectedRange}`)
            .then(response => response.text())
            .then(data => {
                // Update the dashboard with the new data
                document.getElementById('dashboard').innerHTML = data;
            })
            .catch(error => console.error('Error fetching data:', error));
    });
    </script>
    

<script>
    document.querySelectorAll('.sidebar a').forEach(tab => {
        tab.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default link behavior

            // Remove 'active' class from all tabs
            document.querySelectorAll('.sidebar a').forEach(link => link.classList.remove('active'));

            // Add 'active' class to the clicked tab
            this.classList.add('active');

            // Hide all tab content
            document.querySelectorAll('.tab-content').forEach(content => content.style.display = 'none');

            // Show the corresponding tab content
            const targetTab = document.querySelector(this.getAttribute('href'));
            targetTab.style.display = 'block';
        });
    });

    // Automatically show the first tab (Dashboard) on page load
    const firstTab = document.querySelector('.sidebar a');
    const firstTabContent = document.querySelector(firstTab.getAttribute('href'));
    firstTab.classList.add('active');
    firstTabContent.style.display = 'block';
</script>




<script>
    let offset = 0;
    let limit = 100;

    async function fetchListeningHistory() {
        try {
            let response = await fetch(`/api/listening-history?limit=${limit}&offset=${offset}`);
            let data = await response.json();

            // Add the new tracks to the DOM
            displayListeningHistory(data);
            
            offset += limit;
        } catch (error) {
            console.error("Error fetching data: ", error);
        }
    }

    function displayListeningHistory(data) {
        for (const period in data) {
            const periodList = document.getElementById(`${period.toLowerCase().replace(" ", "-")}-list`);
            
            // Clear existing content
            periodList.innerHTML = '';

            // Display the tracks for each period
            data[period].forEach(track => {
                const li = document.createElement('li');
                li.innerHTML = `
                    <img src="${track.album_image_url}" alt="${track.album_name}" />
                    <strong>${track.track_name}</strong> by ${track.artist_name}
                    <span>${track.played_at}</span>
                `;
                periodList.appendChild(li);
            });
        }
    }

    // Search by date functionality
    document.getElementById("search-btn").addEventListener("click", () => {
        const selectedDate = document.getElementById("date-search").value;
        fetchListeningHistoryByDate(selectedDate);
    });

    async function fetchListeningHistoryByDate(date) {
        try {
            let response = await fetch(`/api/listening-history?date=${date}`);
            let data = await response.json();
            
            displayListeningHistory(data);
        } catch (error) {
            console.error("Error fetching data: ", error);
        }
    }

    // Handle "More" button click
    document.getElementById("more-btn").addEventListener("click", fetchListeningHistory);

    // Initial fetch
    fetchListeningHistory();

    // Function to show the selected tab content
    function showTab(tabName) {
        // Hide all tab contents
        document.querySelectorAll('.tab-content').forEach(tab => {
            tab.style.display = 'none';
        });

        // Show the selected tab content
        document.getElementById(tabName).style.display = 'block';
    }

    // Set the default tab to be shown
    document.addEventListener('DOMContentLoaded', function() {
        showTab('dashboard');
    });
</script>

<div class="container mt-5 text-center text-white">
    <!-- Profile Picture with Black Stroke Border -->
    <div class="profile-container" style="display: inline-block; position: relative;">
        <img src="{{ user_image }}" alt="Profile Image" class="profile-img">
    </div>
    <div class="user-title">
        <h3 class="mt-3">{{ user_name }}</h3>
    </div>
    <!-- Stats Below Profile Picture -->
    <div class="dashboard">
        <div class="box gray">
            <span class="title">Total Plays Today:</span>
            <span class="number">{{ total_play_today }} plays</span>
        </div>
        <div class="box yellow">
            <span class="title">Total Plays:</span>
            <span class="number">{{ total_play_count }} plays</span>
        </div>
        <div class="box red">
            <span class="title">Total Minutes:</span>
            <span class="number">{{ total_listened_minutes }} mins</span>
        </div>
        <div class="box green">
            <span class="title">Total Hours:</span>
            <span class="number">{{ total_listened_hours }} hours</span>
        </div>
    </div>
</div>

{% if track_name %}
    <div class="now-playing">
        <img src="{{ album_img }}" alt="Album Image">
        <div class="text-container">
            <div class="text-container">
                <span class="title">Now Playing:</span>
                <span class="track-name">{{ track_name }}</span>
                <span class="artist-name">{{ artist_name }}</span>
            </div>
        </div>
    </div>
{% else %}
    <p>No track is currently playing.</p>
{% endif %}


<!-- Sidebar -->
<div class="sidebar">
    <a href="#dashboard" class="active">Dashboard</a>
    <a href="#daily-plays">Daily Plays</a>
    <a href="#top-genres">Top Genres</a>
    <a href="#top-tracks">Top Tracks</a>
    <a href="#total-time">Total Time</a>
</div>


<!-- Tab Content -->
<div id="dashboard-content" class="tab-content" style="display: block;">Your TOP played song count</div>
<div id="daily-plays-content" class="tab-content">Total Plays Per Day</div>
<div id="top-genres-content" class="tab-content">Top Genres</div>
<div id="top-tracks-content" class="tab-content">Top Tracks</div>
<div id="total-time-content" class="tab-content">Total Listening Time</div>


<div class="content">
    <div id="dashboard" class="tab-content">
        <h2>DASHBOARD</h2>
        <!-- Time range selector (moved to the top) -->
        <div class="time-range-selector">
            <form method="get" action="{{ url_for('dashboard') }}">
                <label for="time_range">Select Time Range:</label>
                <select name="time_range" id="time_range" onchange="this.form.submit()">
                    <option value="short_term" {% if current_time_range == 'short_term' %}selected{% endif %}>Short Term</option>
                    <option value="medium_term" {% if current_time_range == 'medium_term' %}selected{% endif %}>Medium Term</option>
                    <option value="long_term" {% if current_time_range == 'long_term' %}selected{% endif %}>Long Term</option>
                </select>
            </form>
        </div>
    
        <!-- Top artists and top tracks lists -->
        <div class="top-lists-container">
            <!-- Top Artists -->
            <div class="container-top-artists">
                {% if top_artist_list %}
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h2>Your Top Artists</h2>
                            <div class="artist-list">
                                {% for artist in top_artist_list %}
                                    <div class="artist-item">
                                        <a href="{{ artist[2] }}" target="_blank">
                                            <img src="{{ artist[1] }}" alt="{{ artist[0] }}">
                                            <span class="artist-name">{{ artist[0] }}</span>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No data available. Try logging in with Spotify.</p>
                {% endif %}
            </div>
    
            <!-- Top Tracks -->
            <div class="container-top-tracks">
                {% if top_tracks_list %}
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h2>Your Top Tracks</h2>
                            <div class="artist-list">
                                {% for track_name, artist_name, album_image_url, spotify_url, rank in top_tracks_list %}
                                    <div class="artist-item">
                                        <a href="{{ spotify_url }}" target="_blank">
                                            <img src="{{ album_image_url }}" alt="Album cover for {{ track_name }} by {{ artist_name }}">
                                            <span class="artist-name">{{ track_name }} by {{ artist_name }}</span>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No data available for top tracks.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    
    




    <div id="daily-plays" class="tab-content" style="display: none;">
    <h2>DAILY PLAYS</h2>
    <div id="listening-history">
        <!-- Today Section -->
        <div id="today">
            <h3>Today - 
                <span id="today-streams">{{ today_streams }}</span> streams, 
                <span id="today-time">{{ today_time }}</span> total time
            </h3>
            <div class="track-list">
                {% for track in records_by_time['Today'] %}
                    <div class="track">
                        <div class="track-time">{{ track['played_at'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div class="track-info">{{ track['name'] }} by {{ track['artist_name'] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Yesterday Section -->
        <div id="yesterday">
            <h3>Yesterday - 
                <span id="yesterday-streams">{{ yesterday_streams }}</span> streams, 
                <span id="yesterday-time">{{ yesterday_time }}</span> total time
            </h3>
            <div class="track-list">
                {% for track in records_by_time['Yesterday'] %}
                    <div class="track">
                        <div class="track-time">{{ track['played_at'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div class="track-info">{{ track['name'] }} by {{ track['artist_name'] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- This Week Section -->
        <div id="this-week">
            <h3>This Week - 
                <span id="this-week-streams">{{ this_week_streams }}</span> streams, 
                <span id="this-week-time">{{ this_week_time }}</span> total time
            </h3>
            <div class="track-list">
                {% for track in records_by_time['This Week'] %}
                    <div class="track">
                        <div class="track-time">{{ track['played_at'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div class="track-info">{{ track['name'] }} by {{ track['artist_name'] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Last Week Section -->
        <div id="last-week">
            <h3>Last Week - 
                <span id="last-week-streams">{{ last_week_streams }}</span> streams, 
                <span id="last-week-time">{{ last_week_time }}</span> total time
            </h3>
            <div class="track-list">
                {% for track in records_by_time['Last Week'] %}
                    <div class="track">
                        <div class="track-time">{{ track['played_at'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div class="track-info">{{ track['name'] }} by {{ track['artist_name'] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- This Month Section -->
        <div id="this-month">
            <h3>This Month - 
                <span id="this-month-streams">{{ this_month_streams }}</span> streams, 
                <span id="this-month-time">{{ this_month_time }}</span> total time
            </h3>
            <div class="track-list">
                {% for track in records_by_time['This Month'] %}
                    <div class="track">
                        <div class="track-time">{{ track['played_at'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div class="track-info">{{ track['name'] }} by {{ track['artist_name'] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Older Section -->
        <div id="older">
            <h3>Older - 
                <span id="older-streams">{{ older_streams }}</span> streams, 
                <span id="older-time">{{ older_time }}</span> total time
            </h3>
            <div class="track-list">
                {% for track in records_by_time['Older'] %}
                    <div class="track">
                        <div class="track-time">{{ track['played_at'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div class="track-info">{{ track['name'] }} by {{ track['artist_name'] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <button id="more-btn">More</button>
    </div>

    <input type="date" id="date-search" />
    <button id="search-btn">Search</button>

    <div class="play-counts">
        <h3>The most listened songs</h3>
        {% for track in track_play_counts %}
        <div class="track-item">
            <span class="rank">{{ loop.index }}</span> <!-- Rank number -->
            <div class="track-info">
                <img src="{{ track[2] }}" alt="{{ track[0] }}">
                <div class="track-details">
                    <strong>{{ track[0] }} by {{ track[1] }}</strong>
                </div>
            </div>
            <div class="play-count">
                <span class="times">Played</span>
                <span class="count">{{ track[3] }}</span>
                <span class="times">times</span>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Total Plays Per Day</h2>
    {% if daily_play_count %}
        <ul>
        {% for play_date, daily_play_count in daily_play_count %}
            <li>{{ play_date }}: {{ daily_play_count }} listens</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No data available for daily plays.</p>
    {% endif %}

    <h2>Total listen count</h2>
    {% if total_play_count %}   
        <ul>
            <li>{{ total_play_count }}</li>
        </ul>
    {% else %}
        <p>No data available for total plays.</p>
    {% endif %}
</div>


    
        


        
    </div>
</div>


    <div id="top-genres" class="tab-content" style="display: none;">
        <h2>TOP GENRES</h2>
        {% if top_genres %}
            <ul>
                {% for genre, count in top_genres %}
                    <li>{{ genre }}: {{ count }} listens</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No data available for top genres.</p>
        {% endif %}
    </div>





    <div id="top-tracks" class="tab-content" style="display: none;">
        <h2>TOP TRACKS</h2>
        {% if top_tracks_list %}
            <ul>
                {% for track_name, artist_name, popularity, album_image_url, spotify_url in top_tracks_list %}
                    <li>{{ track_name }} by {{ artist_name }} ({{ popularity }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No data available for top tracks.</p>
        {% endif %}
    </div>





    <div id="total-time" class="tab-content" style="display: none;">
        <h2>TOTAL TIME</h2>
        <h2>Total listened time</h2>
        {% if total_listened_minutes or total_listened_hours %}
            <ul>
                <li>{{ total_listened_minutes }} minutes | {{ total_listened_hours }} hours</li>
            </ul>
        {% else %}
            <p>No data available for total listened time.</p>
        {% endif %}    
        
        <h2>Total listened minutes and hours</h2>
        {% if daily_listening_time %}
            <ul>
                {% for day in daily_listening_time %}
                    {% set hours = day[1] // 60 %}
                    {% set minutes = day[1] % 60 %}
                    <li>{{ day[0] }}: {{ day[1] }} minutes ({{ hours }} hours {{ minutes }} minutes)</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No data available for total listened time.</p>
        {% endif %}   
    </div>
</div>

<!-- Minimal JavaScript to handle the active tab -->
<script>
    document.querySelectorAll('.sidebar a').forEach(tab => {
        tab.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
            
            // Remove 'active' from all sidebar links
            document.querySelectorAll('.sidebar a').forEach(link => link.classList.remove('active'));
            this.classList.add('active');

            // Hide all tab contents
            document.querySelectorAll('.tab-content').forEach(tab => tab.style.display = 'none');

            // Show the selected tab content
            const targetTab = document.querySelector(this.getAttribute('href'));
            if (targetTab) {
                targetTab.style.display = 'block';
            }
        });
    });
</script>


{% endblock %}