{% extends "layout.html" %}

{% block title %}
    My Project
{% endblock %}

{% block main %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/480267361_1682482156037066_4803444179802832984_n.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="card text-white bg-dark mb-3" style="width: 50%; max-width: 400px;">
  <div class="card-header">
    <h5 class="card-title text-white">Top Albums</h5>
  </div>
  <div class="card-body text-white">
    <ol>
      <li>
        <img src="/static/images/album1_thumbnail.jpg" alt="Album 1 Thumbnail" style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
        <strong>Album 1 </strong>
        <br>
        <small>Artist 1 </small>
      </li>
      <li>
        <img src="/static/images/album2_thumbnail.jpg" alt="Album 2 Thumbnail" style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
        <strong>Album 2 </strong>
        <br>
        <small>Artist 2 </small>
      </li>
      <li>
        <img src="/static/images/album3_thumbnail.jpg" alt="Album 3 Thumbnail" style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
        <strong>Album 3 </strong>
        <br>
        <small>Artist 3 </small>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
